:root{
    --color--brand: #FF5B6A;
    --color--nav--text: #142F43;
    --color--primary: #000;
    --color--secondary: #969696;
    --color--money--old: #6B6C6C;
    --color--lotteria: #EB1D25;
    --color--download: #C20000;
    --color--main-content: #FFFCFE;
    --color--footer: #FFEAE3;
    --color--copyright: #FF9EA2;
}

*{
    scrollbar-width: thin;
    scrollbar-color: var(--color--brand) transparent;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  background-color: var(--color--main-content);
  line-height: 1.5;
}

.header-container{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
     max-width: 1200px; /* dòng này giúp căn giữa */
    margin: 0 auto; /* dòng này giúp căn giữa */
    padding: 20px;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
}

.header-left{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header-right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.right-button-top{
    display: flex;
    gap: 0.65rem;
}

.right-button-bottom{
    display: flex;
    gap: 1.9rem;
}

.logo img{
    width: 7rem;
    height: 7rem;
}

.menu-list{
    display: flex;
    gap: 2rem;
    font-size: 1.6rem;
    font-weight: 700;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.menu-list li a{
    text-decoration: none;
}